body {
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
}

.container {
    text-align: center;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    font-size: 70px;
    color: #c0392b;
    margin-top: 100px;
    margin-bottom: 15px;
}

.title {
    font-size: 50px;
    font-weight: 1000;
    line-height: 1;
    color: #c0392b;
    margin-bottom: 30px;
}

.subtitle {
    color: gray;
    font-size: 15px;
    margin-bottom: 50px;
}

.header {
    color: gray;
    font-size: 15px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.back-link {
    color: gray;
    line-height: 1.5;
    font-size: 20px;
    margin-top: 20px;
}

.reset-form {
    background: white;
    padding: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    width: 30%;
    font-size: 20px;
    color: gray;
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-bottom: 2px;
    padding: 10px;
}

.input-group input {
    outline: none;
    flex: 1;
    font-size: 20px;
    background: transparent;
    border-radius: 30px;
    padding: 12px 20px;
}

.form-footer {
    position: absolute;
    bottom: 0;
    margin: 40px;
    display: flex;
    width: 100%;
    padding: 0%;
}


.reset-btn {
    color: white;
    background-color: #a6a6a6;
    border: none;
    border-radius: 30px;
    padding: 12px;
    width: 25%;
    font-size: 25px;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reset-btn:hover {
    background-color: #8c8c8c;
    transform: scale(1.05);
}