body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #fff;
}

.header {
    background: linear-gradient(to right, #e52d27, #ef473a);
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: white;
    font-weight: bold;
}

.header .icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.fas.fa-clock {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.content {
    padding: 20px;
}

.parking-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.parking-option {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
}

.parking-option h3 {
    margin: 0;
    color: #a21b1b;
}

.select-btn {
    background: #a21b1b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.select-btn:hover {
    background: #ef473a;
}